<mat-card class="lore-mat-card">
  <mat-card-content>
    <span [innerHTML]="lore.content"></span>
  </mat-card-content>
</mat-card>
<div class="buttons">
  <button mat-raised-button
          color="primary"
          class="first-choice"
          (click)="buttonClicked(1)"
          *ngIf="lore.firstChoiceRedirectsTo">Option 1</button>
  <button mat-raised-button
          color="primary"
          (click)="buttonClicked(2)"
          *ngIf="lore.firstChoiceRedirectsTo">Option 2</button>
  <button mat-raised-button
          color="primary"
          (click)="buttonClicked(0)"
          *ngIf="!lore.firstChoiceRedirectsTo">Rejouer</button>
</div>
