.lore-mat-card
  width: 400px
  height: 250px
  margin: 30px auto
  text-align: center
  justify-content: center
  word-wrap: break-word

.buttons
  width: 100%
  margin: auto
  text-align: center

.mat-card-header-text
  margin: 0

